<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Profile</title>
</head>
<body>
    <h2>Hi, <%= user.fullName %></h2>
    <hr>
    <h3>Account Details</h3>
    <p>Email Address: <%= user.email %></p>
    <p>Mobile Number: <%= maskedUserPhoneNumber %></p>
    <br>
    <hr>
    <h3>Personal Details</h3>
    <form action="/user/profile/edit-profile" method="post">
        <label for="fullName">Full Name</label>
        <input type="name" value="<%= user.fullName %>" name="fullName">
        <br>
        <label for="dateOfBirth">Date of Birth (Optional)</label>
        <input type="date" value="<%= user.dateOfBirth %>" name="dateOfBirth">
        <br>
        <label for="gender">Identity (Optional)</label>
        <input type="text" name="gender" value="<%= user.gender %>" placeholder="Male/Female/Other">
        <hr>
        <h3>Address (Optional)</h3>
        <label for="areaPincode">Area Pincode</label>
        <input type="number" name="areaPincode">
        <br>
        <label for="addressLine1">Address Line 1</label>
        <input type="text" name="addressLine1">
        <br>
        <label for="addressLine2">Address Line 2</label>
        <input type="text" name="addressLine2">
        <br>
        <label for="landmark">Landmark</label>
        <input type="text" name="landmark">
        <br>
        <label for="state">State</label>
        <input type="text" name="state">
        <br>
        <label for="country">Country</label>
        <input type="text" name="country">
        <hr>
        <button type="submit">Save</button>
    </form>
</body>
</html>