<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Venues</title>
</head>
<body>
    <h2>Your Venues</h2>
    <hr>
    <% if (!venue || venue === null) { %>
        <p>You have not added any venue yet. Click below to add a venue.</p>
    <% } else { %> 
        <h4>Name: <%= venue.name %></h4>
        <p>Address: <%= venue.address %></p>
        <p>Venue Type: <%= venue.venueType %></p>
        <p>Seating Capacity: <%= venue.seatingCapacity %></p>
        <p>Seating Categories: <%= venue.seatingCategories %></p>
    <% } %>
    <hr>
    <br>
    <a href="/host/<%= host.id %>/dashboard/venue/add-venue">Add Venue</a>
</body>
</html>